[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
appnope = "*"
asgiref = "*"
astroid = "*"
autopep8 = "*"
backcall = "*"
decorator = "*"
docutils = "*"
flake8 = "*"
importlib-metadata = "*"
ipdb = "*"
ipython = "*"
isort = "*"
jedi = "*"
lazy-object-proxy = "*"
mccabe = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycodestyle = "*"
pyflakes = "*"
pylint = "*"
pytz = "*"
six = "*"
sqlparse = "*"
toml = "*"
traitlets = "*"
typed-ast = "*"
wcwidth = "*"
wrapt = "*"
zipp = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
sphinx = "*"
sphinxcontrib-django = "*"
twine = "*"
sphinx-rtd-theme = "*"

[packages]
Django = "==3.1.13"
apscheduler = "*"

[requires]
python_version = "3.8"
