[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
appnope = "==0.1.2"
asgiref = "==3.5.2"
astroid = "==2.5.1"
autopep8 = "==1.5.6"
backcall = "==0.2.0"
black = "==22.3.0"
decorator = "==4.4.2"
docutils = "==0.16"
coverage = "==5.5"
flake8 = "==4.0.1"
flake8-isort = "==4.1.1"
importlib-metadata = "==3.7.3"
ipdb = "==0.13.7"
ipython = "==8.4.0"
isort = "==5.7.0"
jedi = "==0.18.0"
lazy-object-proxy = "==1.5.2"
mccabe = "==0.6.1"
parso = "==0.8.1"
pexpect = "==4.8.0"
pickleshare = "==0.7.5"
prompt-toolkit = "==3.0.17"
ptyprocess = "==0.7.0"
pycodestyle = "==2.8.0"
pyflakes = "==2.4.0"
pylint = "==2.7.2"
pytz = "==2021.1"
six = "==1.15.0"
sqlparse = "==0.4.2"
toml = "==0.10.2"
traitlets = "==5.0.5"
typed-ast = "==1.4.2"
wcwidth = "==0.2.5"
wrapt = "==1.12.1"
zipp = "==3.4.1"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
mypy = "==0.942"
pre-commit = "==2.18.1"
Pygments = "==2.8.1"
sphinx = "==3.5.2"
sphinxcontrib-django = "==0.5.1"
twine = "==3.4.1"
sphinx-rtd-theme = "==0.5.1"
django-stubs = "==1.9.0"
types-six = "1.16.16"

[packages]
Django = "==3.2.13"
apscheduler = "==3.7.0"

[requires]
python_version = "3.8"
