alabaster==0.7.13
amqp==5.2.0
appnope==0.1.2
APScheduler==3.7.0
asgiref==3.8.1
astroid==2.5.1
asttokens==2.4.1
attrs==24.2.0
autopep8==1.5.6
babel==2.16.0
backcall==0.2.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
black==22.3.0
celery==5.2.2
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coverage==5.5
decorator==4.4.2
distlib==0.3.8
Django==3.2.25
django-stubs==1.9.0
django-stubs-ext==5.0.4
docutils==0.16
executing==2.0.1
factory-boy==3.2.1
Faker==26.3.0
filelock==3.15.4
flake8==4.0.1
flake8-isort==4.1.1
identify==2.6.0
idna==3.7
imagesize==1.4.1
importlib-metadata==3.7.3
iniconfig==2.0.0
ipdb==0.13.7
ipython==8.4.0
ipython-genutils==0.2.0
isort==5.7.0
jaraco.classes==3.4.0
jedi==0.18.0
Jinja2==2.11.3
keyring==23.9.3
kombu==5.4.0
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
matplotlib-inline==0.1.7
mccabe==0.6.1
more-itertools==10.4.0
mypy==0.942
mypy-extensions==1.0.0
nh3==0.2.18
nodeenv==1.9.1
packaging==24.1
parso==0.8.1
pathspec==0.12.1
pexpect==4.8.0
pickleshare==0.7.5
pkginfo==1.11.1
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==2.18.1
prompt_toolkit==3.0.47
ptyprocess==0.7.0
pure_eval==0.2.3
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.8.1
pylint==2.7.2
pytest==7.1.1
pytest-celery==0.0.0
pytest-django==4.5.2
pytest-sugar==0.9.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
readme_renderer==43.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==3.5.2
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-django==0.5.1
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.5.1
stack-data==0.6.3
termcolor==2.4.0
testfixtures==6.18.5
toml==0.10.2
tomli==2.0.1
tqdm==4.66.5
traitlets==5.0.5
twine==3.4.1
typed_ast==1.4.2
types-pytz==2024.1.0.20240417
types-PyYAML==6.0.12.20240808
types-six==1.16.16
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==2.1
urllib3==2.2.2
vine==5.1.0
virtualenv==20.26.3
wcwidth==0.2.13
wrapt==1.12.1
zipp==3.4.1
